spring:
  application:
    name: chatApp
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
  output:
    ansi:
      enabled: always
  jwt:
    secret: ${SECRET_KEY}
    expiration: 360000